/* ============================== */
/* Contact Page */
input[type=text], select, textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2A2A2A;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

input[type=submit]:hover {
  background-color: #151515;
}

input[type=reset] {
  background-color: #2A2A2A;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

input[type=reset]:hover {
  background-color: #151515;
}

.contactcontainer {
 font-size: 25px;
 padding-top: 60px;
 padding-left: 50px;
 padding-right: 50px;
 padding-bottom: 30px;
 background: #FFFBF7;
 color: #2A2A2A;
}
