* {
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #1B1F1E;
  margin: 0;
}

/* ============================== */
/* navigation bar */
#navbar {
  z-index: 99999;
  overflow: hidden;
  background-image: linear-gradient(rgba(27,31,30,1), rgba(27,31,30,.75), rgba(27,31,30,.50), rgba(27,31,30,.25), rgba(27,31,30,0));
}

#navbar a { /* Style the navigation bar links */
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a.right { /* Right-aligned link */
  float: right;
}

#navbar a:hover { /* Change color on hover */
  font-weight: bold;
}

/* ============================== */
/* header */
/* main page */
.mainheader {
  position: relative;
  height: 100vh;
  text-align: center;
  background: #87A59D;
  color: white;
}

.titlemain {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 10vw;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 3vw;
}

/* other page */
.header {
  position: relative;
  background: #87A59D;
  height: 35vh;
  text-align: center;
  color: white;
}

.title {
  position: absolute;
  top: 15%;
  left: 30%;
  font-size: 10vw;
}

/* crop image */
.crophome {
    height: 100vh;
    background-image: linear-gradient(rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,1)),
    url('/assets/homecover.JPG');
    background-size: cover;
    overflow: hidden;
}
.cropproj {
    height: 35vh;
    background-image: linear-gradient(rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,0), rgba(27,31,30,1)),
    url('/assets/projectcover.jpg');
    background-size: cover;
    overflow: hidden;
}


/* ============================== */
/* sticky navbar to scroll */

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background: #1B1F1E;
    color: white;
}

.sticky + .content {
  padding-top: 60px;
}

/* ============================== */
/* Home Project Section */
.projects{
    text-align: left;
    float: left;
    display: flex;
}

/* left */
.pleft {
    padding-bottom: 10px;
    width: 50%;
}

.pleft p:hover {
    color: #00000F;
}

/* right */
.pright {
    width: 50%;
    padding-bottom: 10px;
}

.pright p:hover {
    color: #00000F;
}

/* ============================== */
/* Image Gallery */
#menu a{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
}

.gallery:hover {
  background-color: #111514;
}

.gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px;
    overflow: hidden;

  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 50%;
    overflow: hidden;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================== */
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #FAF2E4;
}

.rows {
  display: flex;
  flex-wrap: wrap;
}

.side1 {
  text-align: left;
  flex: 50%;
  padding-left: 50px;
}

/* Main column */
.side2 {
  text-align: left;
  flex: 50%;
  padding-left: 50px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other*/
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}
